.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }

.main {
  flex: 1;
  min-height: 100vh;
}

.routeFallback {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #111;
}
