.whatsappButton {
    color: #fff;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: 400;
    border-radius: 0;
    margin: .5rem 0;
    width: fit-content;
    transition: all 0.3s ease;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.whatsappButtonGold {
    background-color: var(--gold-color);
}

.whatsappButtonGold:hover {
    background-color: #000;
}

.whatsappButtonDark {
    background-color: #000;
}

.whatsappButtonDark:hover {
    background-color: var(--gold-color);
}