
.headerContainer {
  background-color: #ffffff;
  max-height: 6rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.headerContainerNotScrolled{
  max-height: 6rem;
}

.headerContainerScrolled {
  max-height: 4rem;
}
  
.showLogo {
  display: block;
}

.hideLogo {
  display: none;
}



.headerGrid {
  display: flex;
  width: 100%; 
  justify-content: center;
  align-items: center;
}
  
.column {
    font-size: .8rem;
    flex: 1; 
    text-align: center;
    letter-spacing: 2px;
}
  
.column a {
  transition: font-weight 0.3s ease;
  -webkit-transition: font-weight 0.3s ease;
  -moz-transition: font-weight 0.3s ease;
  -ms-transition: font-weight 0.3s ease;
  -o-transition: font-weight 0.3s ease;
}

.column a:hover{
  font-weight: 600;
}

.mainLogo{
  height: 6rem;
  width: auto;
  margin: 0 5rem;
  background-color: #000;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.scrollLogo {
  height: 4rem;
  width: auto;
  margin: 0 5rem;
  padding: 0;
  background-color: #000;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.hideLogo{
  opacity: 0;
}

.showLogo{
  opacity: 1;
}

.adjustHeightOff{
  height: 6rem;
}

.adjustHeightOn{
  height: 4rem;
}

.mainLogoBlack {
  display: block;
}

.contactButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.6rem .9rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: var(--gold-color);
}

.mobileNavContainer{
  display: none;
}


/* MOBILE */

@media (max-width: 1000px) {
  
  .headerGrid {
    display: none;
  }
  
  .mobileNavContainer {
    display: block;
  }
}