.heroContainer {
    position: relative;
    width: 100%;
    height: 95vh;
    color: white;
    overflow: hidden;
}

/* Slider Container */
.sliderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slideImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideActive {
    opacity: 1;
}
  
.overlay {
    width: 100% ;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.3) 100%);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}
  
.heroContent {
    max-width: 1200px;
    margin-left: 8%;
}
  
.titleContainer {
    position: relative;
}
  
.decorativeLetter {
    position: absolute;
    top: -14rem;
    left: -4rem;
    font-size: 28rem;
    font-family:SabonNext, serif;
    font-weight: 400;
    color: var(--gold-color);
    opacity: 0.4;
    z-index: 5;
}
  
.heroTitle {
    font-size: 5rem;
    font-family: SabonNext, serif;
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    letter-spacing: 1px;
    position: relative;
    z-index: 10;
}
  
.heroSubtitle {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    position: relative;
    z-index: 10;
    color: #eee;
}

.block{
  display: block;
}
  
.ctaButton {
  margin: 4rem 0 2rem 0;

}
  
.featuresContainer {
    display: flex;
    gap: 2rem;
    margin: 1.5rem 0;
}
  
.featureItem {
    display: flex;
    align-items: center;
}
  
.checkmark {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
  
.featureText {
    font-size: 1rem;
}
  
.reviewsContainer {
    display: flex;
}
  

  
  /* Responsive styles */
  @media (max-width: 992px) {
    .heroTitle {
      font-size: 3rem;
    }
    
    .heroContent {
      width: 80%;
    }
    
    .decorativeLetter {
      font-size: 15rem;
      top: -150px;
      left: -40px;
    }
  }
  
  @media (max-width: 768px) {
    .heroContainer {
      height: 95vh;
    }
    
    .heroTitle {
      font-size: 2.5rem;
    }
    
    .heroSubtitle {
      font-size: 1rem;
    }
    
    .featuresContainer {
      flex-direction: column;
      gap: 0.2rem;
    }
    
    .decorativeLetter {
      font-size: 20rem;
      top: -10rem;
      left: -20px;
    }
    
    .heroContent {
      width: 90%;
      margin-left: 5%;
    }
  }

  /* Extra mobile adjustments for smaller phones */
  @media (max-width: 480px) {
    .heroContainer {
      height: 90vh;
    }
    
    .heroTitle {
      font-size: 2.2rem;
    }
    
    .heroSubtitle {
      font-size: 0.9rem;
    }
    
    .featuresContainer {
      gap: 0.1rem;
      margin: 1rem 0;
    }
    
    .featureText {
      font-size: 0.9rem;
    }
    
    .decorativeLetter {
      /* font-size: 8rem; */
      top: -10rem;
      left: -15px;
    }
  }