.sectionDividerT, .sectionDividerB {
    width: 100%;
}

.sectionDividerT::before {
    content: "";
    display: block;
    width: 20%;
    height: 2.5px;
    position: relative;
    margin: 0 auto;
    top: -4rem;
    background-color: var(--gold-color);
}

.sectionDividerB::after {
    content: "";
    display: block;
    width: 20%;
    height: 2.5px;
    position: relative;
    margin: 0 auto;
    top: 4rem;
    background-color: var(--gold-color);
}

/* 13" laptop (MacBook Air - 1280x800) */
@media (max-width: 1280px) and (min-width: 1025px) {
    .sectionDividerT::before {
        top: -3.5rem;
    }

    .sectionDividerB::after {
        top: 3.5rem;
    }
}