/* RESET AND GLOBAL STYLES */

:root {
  --gold-color: #d1b371;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}

/* FONTS WE'RE USING

  - Sabon Next (self-hosted TTF, to convert to WOFF2)
  - Montserrat (Google Fonts)
  - AbhayaLibre (self-hosted TTF, to convert to WOFF2)

*/

/* ABHAYA LIBRE FONTS */
@font-face {
  font-family: "AbhayaLibre";
  src: url('./assets/fonts/AbhayaLibre/AbhayaLibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AbhayaLibre";
  src: url('./assets/fonts/AbhayaLibre/AbhayaLibre-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AbhayaLibre";
  src: url('./assets/fonts/AbhayaLibre/AbhayaLibre-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AbhayaLibre";
  src: url('./assets/fonts/AbhayaLibre/AbhayaLibre-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AbhayaLibre";
  src: url('./assets/fonts/AbhayaLibre/AbhayaLibre-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



/* SABON NEXT FONTS */
@font-face {
  font-family: "SabonNext";
  src: url("./assets/fonts/SabonNext/SabonNextLT.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Sabon Bold */
@font-face {
  font-family: "SabonNext";
  src: url("./assets/fonts/SabonNext/SabonNextLTBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Sabon Italic */
@font-face {
  font-family: "SabonNext";
  src: url("./assets/fonts/SabonNext/SabonNextLTItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic Bold*/
@font-face {
  font-family: "SabonNext";
  src: url("./assets/fonts/SabonNext/SabonNextLTBoldItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

